/** SC 13 apr 2018 16:47:05
 * 
 * Clone of www.ncbi.nlm.nih.gov css.
 *
 */
@charset "UTF-8";

table {
  border-collapse: collapse;
  margin: 1.3846em 0;
}

thead {
  border-bottom: 1px solid #eee;
}

tfoot {
  border-top: 1px solid #eee;
}

th {
  text-align: center;
  background-color: #f0f0f0;
}

th, td {
  padding: 0.2em;
  border: 1px solid #ddd;
}

caption {
  margin-bottom: .5em;
  text-align: center;
}

.content a {
  color: #2f4a8b
}

.content a:hover, .content a:active {
  color: #985735
}

.content a:visited {
  color: #642a8f
}

sup, sub {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em
}

sub {
  top: .25em
}

/* .grid { */
/*   min-width: 800px; */
/*   max-width: 1200px; */
/*   width: 100%; */
/*   clear: both; */
/*   margin: 0 auto; */
/*   text-align: left; */
/*   overflow: hidden */
/* } */

.col {
  margin-right: 1%;
  float: left;
  background-color: #fff;
  overflow: hidden;
}

.last {
  *zoom: 1;
  *margin-right: 0;
  _margin-right: -6px;
}

.col.last {
  float: right;
}

.twelve_col {
  width: 98.9999%;
}

@media screen and (max-width: 1200px) {
  body>.grid>.twelve_col {
    width: 100%;
  }
}

h1.success {
  font-weight: bold;
  color: green;
  padding-left: 2em;
}

h1.error {
  font-weight: bold;
  color: red;
  padding-left: 2em;
}

.articles {
  clear: both
}

.articles .article {
  border: solid 1px #ccc;
  padding: 1em;
  margin: 0 0.5em 2em 0.5em;
}

.articles #article_number {
  float: left;
  margin: 0 0 0 1em;
}

.content h1.title, .content h2, .content h3 {
  font-weight: bold;
}

ol.articles li h1 {
  font-size: 130%;
}

p.info {
  padding-left: 2em;
  font-size: 120%;
  line-height: 1.5;
}

.abstract.rprt {
  padding-bottom: 0.5em;
}

.abstract h1 {
  font-size: 1.231em;
  font-weight: bold;
  line-height: 1.125em;
  margin: .375em 0;
}

.abstract h1 a {
  font-weight: bold;
}

.abstract p {
  margin: .5em 0;
}

.abstract a {
  color: #333;
  border-bottom: 0;
  text-decoration: underline;
}

.abstract a:hover {
  color: #2222CC;
  border-bottom: 0;
}

.abstract a:visited {
  color: #606;
  border-bottom: 0;
}

.abstract a.jig-ncbitoggler, .abstract a.jig-ncbitoggler:hover {
  text-decoration: none !important;
}

.abstract a.ui-ncbitoggler, .abstract a.ui-ncbitoggler-open {
  padding-left: 1.75em;
}

.abstract a.ui-ncbitoggler span.ui-icon-triangle-1-e {
  background: transparent
    url(//static.pubmed.gov/portal/portal3rc.fcgi/4043781/img/29039)
    no-repeat left -30px;
}

.abstract a.ui-ncbitoggler-open span.ui-icon-triangle-1-s {
  background: transparent
    url(//static.pubmed.gov/portal/portal3rc.fcgi/4043781/img/29039)
    no-repeat left 0;
}

.abstract a.ui-ncbitoggler {
  
}

.abstract a.ui-ncbitoggler:hover {
  color: #777;
}

.abstract .err h3, .morecit h4 {
  margin: .5em 0 0 0 !important;
  display: block;
  color: #000;
}

.abstract .err ul {
  margin: 0 0 .5em;
  list-style-type: none;
  padding: 0;
}

.abstract .err li {
  display: block;
}

.abstract .err .comments a {
  color: #14376C;
  text-decoration: none;
}

.abstract .err .comments .source {
  padding-left: 0.3em;
  color: #777777;
}

.abstract .err .comments em.author {
  font-size: 0.8465em;
  line-height: 1.3em;
  display: block;
  margin-bottom: -0.3em;
  margin-top: 0.5em;
}

.abstract .err .comments em.cit {
  font-size: 0.8465em;
  line-height: 1.3em;
  display: block;
  margin-bottom: -0.3em;
  margin-top: 0.5em;
}

.abstract .err {
  margin: 1.1em auto 0;
}

.abstract .abstr h3, .abstract .sections h3 {
  color: #985735;
  font-weight: bold;
  margin: 0;;
}

.abstract .sections ul {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0;
}

.abstract .sections h4 {
  margin: 0;
}

.abstract .sections ul a.ui-ncbitoggler, .abstract .sections ul a.ui-ncbitoggler-open
  {
  padding-left: .85em;
}

.abstract .sections ul .ui-ncbitoggler-master-text {
  padding-left: 0.3em;
}

.abstract .sections ul a.ui-ncbitoggler:hover, .abstract .sections ul a.ui-ncbitoggler-open:hover
  {
  color: #777;
  border-bottom: none;
}

.abstract .abstr h4, .abstract .keywords h4 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin: 0 .25em 0 0;
}

.abstract .abstr p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.abstract .afflist ul {
  list-style-type: none;
}

.abstract .aux {
  font-size: inherit;
}

.abstract .aux, .abstract .abstr, .abstract .sections, .abstract .keywords
  {
  margin: 1.2em auto auto;
}

.abstract .aux .in_clip {
  color: #D2692B;
  white-space: nowrap;
}

.abstract .aux .status_icon {
  margin: 0 15px 0 0;
  color: #985735;
  font-weight: bold;
}

.abstract .aux a.status_icon {
  text-decoration: none;
  cursor: pointer;
}

.abstract .auths, .abstract .keywords {
  font-size: 0.923em;
}

.abstract .cit, .abstract .aff, .abstract .rprtid {
  font-size: 0.8465em;
}

.abstract .cit {
  line-height: 1.45em;
}

.abstract .aff {
  line-height: 1.0915em;
}

.abstract .pmcid {
  color: #666666;
  margin-left: 15px;
}

.abstract .pmid, .abstract .pmcid, .abstract .status_icon {
  white-space: nowrap;
}

.abstract .versions {
  margin-right: 15px;
}

.abstract .keywords {
  margin-top: 1.8em;
}

.abstract .keywords h4 {
  margin: 0 .35em 0 0;
}

.abstract .links a.status_ra {
  color: #6666AA;
  cursor: pointer;
  margin-right: 15px;
}

.abstract .links a.status_ra:hover {
  color: #6666AA;
}

.abstract .links a.status_ra:visited {
  color: #6666AA;
}

.abstract .morecit {
  position: relative;
  margin-top: 1em;
}

.abstract .morecit div {
  margin: 0;
}

.abstract .morecit h3, .collab h3, .afflist h3 {
  margin: .5em 0em;
}

.abstract .morecit ul, .abstract .afflist ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1.6em;
}

.abstract .morecit ul li {
  margin-bottom: .1em;
}

.abstract .morecit h3 a:hover {
  color: #777 !important;
}

.abstract .icons {
  text-align: left;
  margin-top: .5em;
  margin-top: 5px;
  display: table;
  width: 99%;
}

.abstract .icons .floatLeft {
  float: left;
  min-width: 45px;
}

.abstract .icons .clearFloat {
  clear: both;
}

.abstract .icons .vAlignCenter {
  display: table-cell;
  vertical-align: middle;
  width: 100%
}

.abstract .icons a {
  color: #000 !important;
  text-decoration: none;
}

.abstract .icons a:hover {
  text-decoration: underline;
  border-bottom: none;
}

.abstract .icons a:visited {
  color: #606;
}

.abstract .icons img {
  margin: .25em;
}

.abstract .icons img:first-child {
  margin-left: 0;
}

.abstract .label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.abstract .print-log {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.abstract .print-log li {
  list-style-image: none;
}

.abstract .other_lang {
  margin-bottom: 0.5em;
  display: inline;
  padding-left: 0.5em;
}

.abstract .other_lang .sel_lang {
  text-decoration: none;
  cursor: default;
  color: black;
  font-weight: bold;
}

.abstract .abstr h3 {
  display: inline;
}

.abstract .abstr *[class^=abstr_] {
  margin-top: 0.5em;
}

.abstract .aux {
  display: none
}

.success, .error, .warn, .info, .suggest, .hi_warn {
  padding-left: 1.25em;
  background-position: 0.5em 0.1em;
  background-repeat: no-repeat;
  background-color: transparent;
}

.success {
  background-image:
    url(//static.pubmed.gov/portal/portal3rc.fcgi/4161702/img/67325);
}

.error {
  background-image:
    url(//static.pubmed.gov/portal/portal3rc.fcgi/4161702/img/67326);
}

.warn {
  background-image:
    url(//static.pubmed.gov/portal/portal3rc.fcgi/4161702/img/67327);
}

.info {
  background-image:
    url(//static.pubmed.gov/portal/portal3rc.fcgi/4161702/img/67328);
}

/* .suggest { */
/*   background-image: */
/*     url(//static.pubmed.gov/portal/portal3rc.fcgi/4161702/img/26044); */
/* } */

/* .hi_warn { */
/*   background-image: */
/*     url(//static.pubmed.gov/portal/portal3rc.fcgi/4161702/img/67327); */
/*   font-weight: bold; */
/* } */

body.paf-nav .col1 {
  float: left;
  width: 70%;
}

body.paf-nav .col2 {
  width: 28%;
  margin-left: 72%;
}

#source-xml .errlist {
  overflow-x: auto;
  display: block;
}

.errlist td, .errlist th {
  padding: 0 1em 0 0.5em;
  text-align: left;
  vertical-align: top;
  border: solid 1px #ccc;
}

.errlist td {
  font-family: monospace;
  white-space: pre;
}

#top-grid td {
  cursor: pointer
}


/** SC 30 apr 2018 17:19:39
 * 
 * pmc_submit set.
 */
#pmc_textarea_bg {
  -webkit-appearance: textarea;
  color: transparent;
/*   color: red; */
  overflow: hidden;
  position: absolute !important;
  top: 30px !important;
/*    left: 0; */
/*    bottom: 0; */
/*    right: 0; */
  z-index: 1;
  padding: 2px;
  margin: 0;
}

#pmc_textarea_bg div.pmc_submit_xml_line div.form-item {
  padding: 0;
  margin: 0;
}

/* #pmc_textarea_bg div.form-item div.form-textarea-wrapper { */
/*   overflow: hidden; */
/* } */

#pmc_textarea_fg {
  position: relative;
  z-index: 2;
}

#pmc_textarea_fg textarea {
  background-color: transparent;
  z-index: 2;
  font: normal 1em sans-serif !important; /* keep the same of .pmc_submit_xml_line div */
}

fieldset#edit-xml {
/*   position: relative; */
/*   z-index: 0; */
  -webkit-text-size-adjust: none !important;
}

fieldset#edit-xml div.fieldset-wrapper {
  position: relative;
  z-index: 0;
  -webkit-text-size-adjust: none !important;
}

.pmc_submit_xml_line div {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
/*   white-space: pre-wrap !important; */
  word-wrap: break-word;
/*   word-spacing: 0px; */
/*   color: transparent !important; */
  overflow: hidden !important;
/*   padding: 0; */
/*   margin: 0; */
  font: normal 1em sans-serif !important; /* keep the same of #pmc_textarea_fg textarea */
}

.pmc_submit_xml_line_error {
  background-color: red;
}

